$color-white: #fff;
$color-black: #000;
$color-light-black: #2a3042;
$color-primary: #367ef1;
$color-dark-primary: #061233;

// Gray
$gray-900: #6a7187;
$gray-700: #adb5bd;
$gray-600: #b2b9c1;
$gray-400: #ced4da;
$gray-300: #e5e7eb;
$gray-200: #eff2f7;
